/Algae.class
/Craig.class
/Critter$TestCritter.class
/Critter.class
/CrittersJunit.class
/InvalidCritterException.class
/Main.class
/MyCritter1.class
/MyCritter6.class
/MyCritter7.class
/Params.class
